/* Optional: Makes the sample page fill the window. */
html, body, .container {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 90%;
    margin: 0px;
}

#header {
    height: 50px;
}

#list {
    background-color: white;
    height: 80%;
    width: 400px;
    z-index: 3;
    position: absolute; /*newly added*/
    left: 20px; /*newly added*/
    top: 100px;/*newly added*/
}

.container {
    display: flex; /* or inline-flex */
    flex-direction: column;
    flex-wrap: nowrap;
    /*flex-flow: column nowrap;*/
    align-content: stretch;
}

@media all and (max-width: 767px) {

  #map {
    height: 40%;
    margin: 0px;
  }

  #list {
    background-color: white;
    height: 80%;
    width: 100%;
    z-index: 3;
    position: absolute; /*newly added*/
    left: 0px; /*newly added*/
    top: 40%;/*newly added*/
}

}
